<div class="container">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div id="content" class="m2">

        <header id="header" class="primary-bg">
          Send New Email
        </header>

        <form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()" id="send-mail" action=""
          class="col-md-10 offset-s1">
          <div class="row">
            <div class="input-field col-md-12">
              <label for="email">To:</label>
              <input class="form-control" formControlName="email"
                [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}" id="email"
                type="email" required>
              <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
                <div *ngIf="form.get('email').errors.email">Email must be a valid email Address</div>
              </div>
            </div>
            <div class="input-field col-md-12">
              <label for="subject">Subject:</label>
              <input id="subject" type="text" formControlName="subject"
                [ngClass]="{'is-invalid':form.get('subject').touched && form.get('subject').invalid}" required>
            </div>
          </div>
          <div class="row">
            <div class="input-field col-md-12">
              <label for="message">Message: </label>
              <textarea id="message" class="materialize-textarea" formControlName="message"
                [ngClass]="{'is-invalid':form.get('message').touched && form.get('message').invalid}"
                required></textarea>
            </div>
          </div>
          <div class="row" *ngIf="showLoader">
            <img class="spinner" src="https://www.dropbox.com/s/wfsji06m6jfe0yl/spinner.gif?raw=1" width="150">
          </div>
          <div class="row" *ngIf="showMail">
            <img class="spinner" src="https://www.dropbox.com/s/0g5h91zyozcbenc/mail.gif?raw=1" alt="" width="150">
          </div>

          <div class="row pb-3">
            <div class="col s6">
              <button id="send" class="btn waves-effect waves-light primary-bg" type="submit" name="action"
                [disabled]="!form.valid">Send
                <i class="material-icons right">send</i>
              </button>
            </div>
            <div class="col s6">
              <button id="resetBtn" class="btn btn-primary waves-effect waves-light  darken-2"
                (click)="resetBtn()">Reset
                <i class="material-icons right">delete</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>